.formItem {
  @apply flex flex-col justify-center content-center max-w-xs text-center my-4 mx-4;
}

.formItem > label {
  @apply text-xl;
}

.formItem > input {
  background-color: var(--secondary-light);  
  @apply px-4 py-2 rounded-md text-black;
}

.formItem > input[type="number"] {
  -moz-appearance: textfield;
}

.formItem > input::-webkit-outer-spin-button,
.formItem > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}