.containerCommerce {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.containerCommerceSearch {
  display: grid;
  grid-template-columns: 1fr 1fr;
  display: flex;
}

.commerceSelected {
  width: 95%;
}

.searchButton {
  margin-top: 30%;
}