.Lineadivisora {
  min-width: 60rem;
  /* width: 100%; */
  padding-top: 1.5rem;
  border-bottom-width: 1px;
  border-color: rgb(234 88 12);
  margin-bottom: 1.5rem;
}

.Mensaje {
  text-align: center;
  color: rgb(234 88 12);
}
