nav.navbar {
  @apply px-4;
}

nav.navbar > ul.list {
  @apply flex flex-row flex-wrap;
}

nav.navbar > ul.text {
  @apply mx-4 mb-4 justify-around text-lg gap-6;
}

nav.navbar > ul.icon {
  @apply my-4 justify-center gap-4;
}

nav.navbar > ul.text > li {
  @apply px-4;
}

.lineaSup {
  border: none;
  background-image: linear-gradient(to right, rgba(239, 75, 47, 0.8), #ee2744);
  margin: 20px 90px;
  height: 2.5px;
}

.lineaInf {
  border: none;
  background-image: linear-gradient(to right, #ee2744, rgba(239, 75, 47, 0.8));
  margin: 20px 90px;
  height: 2.5px;
}
