.divPrint {
    size: 80mm 160mm;
    width: 80mm;
    /* max-height: 160mm; */
    /* height: 160mm; */
    /* background-color: red; */
    margin: 0;
    padding: 0.5rem 0;
}

@page {
    size: 80mm 160mm;
}

.divPrint {
    size: 80mm auto;
    width: 80mm;
    margin: 0;
    padding: 0.5rem 0;
  }

.smallertext {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 10px;
}

.smalllogo {
    width: 20px;
    height: 20px;
}