form.Grid {
  @apply grid gap-6 xl:w-full my-4;

  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
}

form.Flex {
  @apply flex flex-wrap justify-evenly content-center;
}

@media (max-width: 768px) {
  form.Grid {
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  }
}

@media (max-width: 640px) {
  form.Grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
