.contendorIdLog {
  margin-top: 20px;
  font-size: small;
  display: grid;
  width: 100%;
  justify-items: end;
}

.contendorPago {
  @apply grid grid-flow-col auto-cols-fr gap-6;
  padding: 5px;
  width: 100%;
  background: #ffffff;
  border: 1px solid rgba(3, 3, 3, 0.326);
}

.labelHash {
  max-width: 80%;
}
