.principal {
  display: flex;
  flex-direction: row;
}
.titulo-formulario-inscripcion {
  font-size: x-large;
  display: flex;
  justify-content: center;
  margin-bottom: 3vw;
}
.datos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.datos-correo {
  margin-left: 1vw;
}
